name: Terraform CI using Vault (OIDC)

on:
  push:
    branches:
      - main

permissions:
  id-token: write     # REQUIRED for GitHub OIDC
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout source code
        uses: actions/checkout@v4

      # 2. Install Vault CLI (official HashiCorp action)
      - name: Install Vault
        uses: hashicorp/vault-action@v2
        with:
          vault-version: "1.15.6"

      # 3. Authenticate to Vault using GitHub OIDC
      - name: Login to Vault
        env:
          VAULT_ADDR: http://98.82.141.249:8200
        run: |
          vault login -method=jwt \
            role=github-actions \
            jwt=$ACTIONS_ID_TOKEN_REQUEST_TOKEN

      # 4. Read AWS credentials from Vault
      - name: Fetch AWS credentials from Vault
        env:
          VAULT_ADDR: http://98.82.141.249:8200
        run: |
          echo "TF_VAR_aws_access_key=$(vault kv get -field=access_key kv/aws)" >> $GITHUB_ENV
          echo "TF_VAR_aws_secret_key=$(vault kv get -field=secret_key kv/aws)" >> $GITHUB_ENV

      # 5. Install Terraform (latest pinned)
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.4"

      # 6. Terraform Init & Apply
      - name: Terraform Apply
        working-directory: terraform
        run: |
          terraform init
          terraform apply -auto-approve
